.header-menu-animation {
    animation-name: header-appear;
    animation-duration: 2s;
}

@keyframes header-appear {
    0% {
        transform: translateY(-130px);
        opacity: 0.1;
    }

    100% {
        opacity: 1;
        transform: translatey(0);
    }
}


@keyframes booking-inputs-appear {
    0% {
        opacity: 0.1;
        transform: translateY(160%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes blink-caret {
    from, to { border-right: 5px solid transparent; }
    50% { border-right: 5px solid orange; }
}
