.bg-dark-yellow {
    background-color: $dark-yellow;
    transition: background-color .5s ease-in-out;

    &:hover {
        background-color: #b18b3e;
    }
}

.bg-light-black { background-color: #373737; }
.bg-dark-black { background-color: #2d2d2d; }

.color-white { color: white; }


