.booking-button-container {
    width: 280px;

    p {
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .booking-button {
        padding: 15px 20px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 18px;

        button {
            background-color: transparent;
            color: #fff;
            text-transform: uppercase;
            border: none;
            font-weight: 700;
            letter-spacing: 5px;
        }
    }

    &:last-of-type {
        .booking-button {
            text-align: center;
        }
    }

    .v3dp__popout {
        top: 50px
    }

    .v3dp__datepicker {
        background-color: transparent;
        border-radius: 0;
        color: #ffffff;
        padding: 15px 20px;
        line-height: 18px;
        border: 1px solid #fff;

        --vdp-bg-color: #373737;
        --vdp-text-color: #fff5f5;
        --vdp-box-shadow: 0 4px 10px 0 rgba(128, 144, 160, 0.1), 0 0 1px 0 rgba(128, 144, 160, 0.81);
        --vdp-border-radius: 3px;
        --vdp-heading-size: 2.5em;
        --vdp-heading-weight: bold;
        --vdp-heading-hover-color: #C19B77;
        --vdp-arrow-color: #fff;
        --vdp-elem-color: #fff;
        --vdp-disabled-color: #d5d9e0;
        --vdp-hover-color: #ffffff;
        --vdp-hover-bg-color: #C19B77;
        --vdp-selected-color: #ffffff;
        --vdp-selected-bg-color: #C19B77;
        --vdp-current-date-outline-color: #888888;
        --vdp-current-date-font-weight: bold;
        --vdp-elem-font-size: 0.8em;
        --vdp-elem-border-radius: 3px;
        --vdp-divider-color: #d5d9e0;

        input {
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold;

            &:focus-visible {
                outline: transparent !important;
            }
        }

        &:hover {
            border-color: #fff !important;
        }
    }

    button {
        background-color: transparent;
    }
}

@media screen and (max-width: 1250px) {
    .booking-button-container {
        width: 49%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 750px) {
    .booking-button-container {
        width: 100%;
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
