.booking-button-container {

    p {
        color: #fff;
        margin-bottom: 20px;
    }

    .booking-button {
        padding: 30px;
        width: 200px;
        border: 1px solid #fff;
        color: #fff;
    }

    button {
        background-color: transparent;
    }
}
