.header-text-for-price {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: white;
    font-size: 50px;
}

.room-page-body {
    padding: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .rooms-page-item {

        h2 {
            width: 100%;
        }
    }

    .right-menu {

        .book-now-btn-container {
            margin-top: 30px;
            width: 100%;

            .book-now-btn {
                width: 100%;
                border: none;
                background: $dark-yellow;
                padding: 10px 40px;
                font-size: 14px;
                font-weight: 600;
                color: white;
                letter-spacing: 2px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}
