.left-menu {
    width: 32%;

    .search-table {
        min-height: 370px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: $light-black;
        align-content: space-between;

        .nights-count-styling {
            color: $dark-yellow;
            font-weight: bold;
            font-size: 40px;
            font-family: ui-rounded;
            text-align: center;
        }

        .date-square {
            width: 130px;
            height: 130px;
            background-color: #313131;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;

            span {
                text-align: center;
                color: white;
                text-transform: uppercase;
            }

            .room-guest-count-container {

                span {
                    color: $dark-yellow;
                    font-weight: bold;
                    font-size: 40px;
                    font-family: ui-rounded;
                }
            }

            .room-guest-count-btn {
                display: flex;
                margin-left: 20px;
                flex-direction: column;
                height: 50px;
                justify-content: space-between;


            }
        }
    }
}

.rooms-list {
    width: 64%;

    .booking-room-container {
        width: 400px;

        .room-image {
            height: 250px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .room-status {
                position: absolute;
                top: 10px;
                right: 0;
                padding: 5px 30px;
                background-color: $dark-yellow;
                color: $white;
            }
        }

        .room-info-card {
            border-right: 1px solid #aaaaaa54;
            border-left: 1px solid #aaaaaa54;
            border-bottom: 1px solid #aaaaaa54;

            .room-info-container {
                padding: 30px;

                h2 {
                    font-size: 30px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                .room-guest-count {
                    margin-bottom: 20px;
                    color: $lighter-grey;

                    svg {
                        font-size: 18px;
                        margin-right: 20px;
                        color: $lighter-grey;
                    }
                }

                p {
                    margin-bottom: 20px;
                    color: $lighter-grey;
                }

                button {
                    background-color: transparent;
                    border: 2px solid $dark-yellow;
                    padding: 10px 30px;
                    color: $dark-yellow;
                    font-weight: 700;
                    cursor: pointer;

                    span {
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .room-features {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            position: relative;

            .room-feature-delimiter {
                position: absolute;
                width: 85%;
                height: 1px;
                background-color: #aaaaaa54;
                top: 0;
                left: 50%;
                transform: translate(-50%);
            }

            .feature-icons {

            }

            button {
                border: none;
                background-color: transparent;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
            }
        }
    }
}

.rooms-booking-button-container {
    p {
        color: $white;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .booking-button {
        padding: 15px 20px;
        border: 1px solid $white;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 18px;

        button {
            background-color: transparent;
            color: $white;
            text-transform: uppercase;
            border: none;
            font-weight: 700;
            letter-spacing: 5px;
        }
    }

    &:last-of-type {
        .booking-button {
            text-align: center;
        }
    }

    .v3dp__popout {
        top: 50px
    }

    .v3dp__datepicker {
        background-color: transparent;
        border-radius: 0;
        color: $dark-yellow;

        --vdp-bg-color: #373737;
        --vdp-text-color: #fff5f5;
        --vdp-box-shadow: 0 4px 10px 0 rgba(128, 144, 160, 0.1), 0 0 1px 0 rgba(128, 144, 160, 0.81);
        --vdp-border-radius: 3px;
        --vdp-heading-size: 2.5em;
        --vdp-heading-weight: bold;
        --vdp-heading-hover-color: #C19B77;
        --vdp-arrow-color: #fff;
        --vdp-elem-color: #fff;
        --vdp-disabled-color: rgba(213, 217, 224, 0.53);
        --vdp-hover-color: #ffffff;
        --vdp-hover-bg-color: #C19B77;
        --vdp-selected-color: #ffffff;
        --vdp-selected-bg-color: #C19B77;
        --vdp-current-date-outline-color: #888888;
        --vdp-current-date-font-weight: bold;
        --vdp-elem-font-size: 0.8em;
        --vdp-elem-border-radius: 3px;
        --vdp-divider-color: $white-grey;

        input {
            background-color: transparent;
            border: none;
            color: $dark-yellow;
            font-weight: bold;
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-family: ui-rounded;

            &:focus-visible {
                outline: transparent !important;
            }
        }

        &:hover {
            border-color: $white !important;
        }
    }

    button {
        background-color: transparent;
    }
}
