.hb-width-25 { width: 25% }
.hb-width-28 { width: 28% }
.hb-width-30 { width: 30% }
.hb-width-40 { width: 40% }
.hb-width-45 { width: 45% }
.hb-width-48 { width: 48% }
.hb-width-50 { width: 50% }
.hb-width-60 { width: 60% }
.hb-width-68 { width: 68% }
.hb-width-70 { width: 70% }
.hb-width-80 { width: 80% }
.hb-width-90 { width: 90% }
.hb-width-100 { width: 100% }

//Laptop
@media screen and ( max-width: 1140px){
    .hb-width-25-laptop { width: 25% !important;}
    .hb-width-30-laptop { width: 30% !important;}
    .hb-width-40-laptop { width: 40% !important;}
    .hb-width-50-laptop { width: 50% !important;}
    .hb-width-60-laptop { width: 60% !important;}
    .hb-width-70-laptop { width: 70% !important;}
    .hb-width-80-laptop { width: 80% !important;}
    .hb-width-90-laptop { width: 90% !important;}
    .hb-width-100-laptop { width: 100% !important;}
}

//ipad
@media screen and ( max-width: 900px){
    .hb-width-25-ipad { width: 25% !important;}
    .hb-width-30-ipad { width: 30% !important;}
    .hb-width-40-ipad { width: 40% !important;}
    .hb-width-50-ipad { width: 50% !important;}
    .hb-width-60-ipad { width: 60% !important;}
    .hb-width-70-ipad { width: 70% !important;}
    .hb-width-80-ipad { width: 80% !important;}
    .hb-width-90-ipad { width: 90% !important;}
    .hb-width-100-ipad { width: 100% !important;}
}

//tablet
@media screen and (max-width: 680px) {
    .hb-width-25-tablet { width: 25% !important;}
    .hb-width-30-tablet { width: 30% !important; }
    .hb-width-40-tablet { width: 40% !important;}
    .hb-width-50-tablet { width: 50% !important;}
    .hb-width-60-tablet { width: 60% !important;}
    .hb-width-70-tablet { width: 70% !important;}
    .hb-width-80-tablet { width: 80% !important;}
    .hb-width-90-tablet { width: 90% !important;}
    .hb-width-100-tablet { width: 100% !important;}

}
