$dark-yellow: #C19B77;
$darker-yellow: #b18b3e;
$light-yellow: #cebaa0;
$light-black: #373737;
$dark-black: #2d2d2d;
$white: #fff;
$dark-white: #fff5f5;
$white-grey: #d5d9e0;
$transparent-white: rgba(255,255,255,0);
$half-transparent-black: rgba(0,0,0,0.50);
$light-grey: #8a8a8a8a;
$lighter-grey: #888888;
$transparent-grey: rgba(128, 144, 160, 0.1);
$half-transparent-grey: rgba(128, 144, 160, 0.81);
