.room-booking-panel {
    padding: 30px;
    position: relative;
    min-height: 91vh;
    background-color: $light-blue;

    .draw-booking-container-start {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .draw-booking-container-end {
        justify-content: start;
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .draw-booking-container-middle {
        justify-content: center;
    }

    .draw-booking-item {
        cursor: pointer;
        height: 30px;
    }

    .draw-booking-item-start {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .draw-booking-item-end {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .draw-booking-item-middle {
        width: 100%;
    }

    .draw-booking-item-status-pending {
        background-color: #67b2e7;
    }

    .draw-booking-item-status-active {
        background-color: #a8e767;
    }

    .draw-booking-item-status-canceled {
        background-color: #f05e5e;
    }

    .color-coding-container {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;

        .color-coding {
            display: flex;
            gap: 10px;
            align-items: center;

            .color-name {
                text-transform: capitalize;
                font-weight: bold;
            }

            .color-code {
                border-radius: 20px;
                width: 50px;
                height: 20px;
                border: double;
                color: white;
            }

            .color-pending {
                background-color: #67b2e7;
            }

            .color-active {
                background-color: #a8e767;
            }

            .color-canceled {
                background-color: #f05e5e;
            }
        }
    }

    .table-btn-container {
        width: 100%;
        z-index: 99;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;
        align-items: center;

        span {
            font-size: 22px;
            font-weight: 600;
        }

        .date-btn {
            font-size: 20px;
            background: $dark-yellow;
            padding: 0px 15px;
            color: $white;
            border-radius: 20px;
            width: 100px;
            border: double;
        }
    }

    .room-table-action-btn {
        color: white;
        padding: 5px 30px;
        border: double;
        border-radius: 20px;
        margin-right: 20px;
        cursor: pointer;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .btn-bg-yellow {
        background-color: $dark-yellow;
    }

    .btn-bg-red {
        background-color: $dark-red;
    }

    .inner-table {
        overflow-y: auto;
        position: relative;
        border-radius: 10px;

        table {
            font-family: arial, sans-serif;
            width: 100%;
            border-collapse: separate;
            background-color: white;
            border-radius: 20px;

            .booking-calendar-text {
                color: white;
                font-weight: bold;
            }

            .table-sticky {
                position: sticky;
                left: 0;
                top: auto;
                z-index: 99;
                /*only relevant for first row*/
            }

            .headcol:before {
                content: 'Row ';
            }

            th {
                background-color: $dark-yellow;
                color: white;
                font-size: 19px;
                padding: 5px 20px;
            }

            td, th {
                border: none;
                height: 70px;
                position: relative;
            }

            tr {
                background-color: $white;
            }

            th {
                text-align: center;
            }

            td {
                text-align: center;
            }
        }
    }

}


@media screen and ( max-width: 680px){
    .room-booking-panel {
        padding: 10px;

        .table-btn-container, .color-coding-container {
            justify-content: center;
            gap: 10px;
        }

    }
}
