.rooms-table-container {
    padding: 30px;

    table {
        font-family: arial, sans-serif;
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: $dark-yellow;
            color: white;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
    }
}
