.contact-body {
    padding: 90px;
    display: flex;
    flex-wrap: wrap;

    .map-container {
        width: 48%;

        iframe {
            width: 100%;
        }

        margin-right: 30px;
    }

    .contact-us-inputs {
        width: 48%;

        .contact-us-input {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 20px;

            label {
                margin-bottom: 15px;
            }

            input {
                padding: 10px 20px;
                border: none;
                background: #eee7e7;

                &:focus-visible {
                    outline: none;
                }
            }

            .input-delimiter {
                height: 3px;
                width: 0;
                background-color: $dark-yellow;
                transform: translateX(-50%);
                left: 50%;
                position: absolute;
                bottom: 0;
                transition: width .5s ease-in-out;
            }

            input:focus + .input-delimiter {
                width: 100%;
                transition: width .5s ease-in-out;
            }
        }

        .text-area {
            width: 100%;

            textarea {
                height: 150px;
                resize: none;
                padding: 10px 20px;
                border: none;
                background: #eee7e7;

                &:focus-visible {
                    outline: none;
                }

                &:focus + .input-delimiter {
                    width: 100%;
                    transition: width .5s ease-in-out;
                }
            }
        }
    }
}

@media screen and ( max-width: 1000px ) {
    .map-container {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .contact-us-inputs {
        width: 100% !important;
    }
}


@media screen and ( max-width: 680px ) {
    .contact-body {
        padding: 20px;

        .map-container {
            margin-right: 0;
        }

    }
}
