
.create-post-btn {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #C19B77;
    color: white;
    border: double;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 35px;
    font-size: 14px;
    border-radius: 30px;
}
