.responsive-background-image {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.hotel-average-rating {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    .vue3-star-ratings__icon {
        margin-right: 15px !important;
    }
}


@media screen and (max-width: 1200px) {
    .responsive-background-image {
        height: 80vh;
    }
}

@media screen and (max-width: 1000px) {
    .responsive-background-image {
        height: 80vh;
    }
}

@media screen and (max-width: 800px) {
    .responsive-background-image {
        height: 70vh;
    }
}

@media screen and (max-width: 600px) {
    .responsive-background-image {
        height: 60vh;
    }
}

@media screen and (max-width: 520px) {
    .responsive-background-image {
        height: 55vh;
    }
}
