.background-image-filter {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.booking-steps-indicator-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;


    .booking-steps-indicator {
        display: flex;
        align-items: center;
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }

        .number-indicator {
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: $white;
            margin-right: 20px;
        }

        .text-indicator {
            color: $white;
        }
    }

    .active-indicator {
        .number-indicator {
            background-color: black !important;
            border-color: black !important;
        }
    }
}
