.admin-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    box-shadow: -1px 0px 4px 0px rgba(138, 138, 138, 0.5411764706);

    .admin-sidebar-btn {
        font-size: 20px;
        cursor: pointer;
    }

    .logout-btn {
        display: flex;
        align-items: center;
        padding: 5px 30px;
        font-size: 18px;
        border-radius: 20px;
        background-color: $dark-yellow;
        color: white;
        border: double;
        cursor: pointer;

        svg {
            margin-right: 15px;
        }
    }
}
