.settings-page-body {
    min-height: 91vh;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    background-color: $light-blue;

    .settings-container {
        border-radius: 10px;
        overflow: hidden;

        .settings-menu {
            background-color: $white-grey;

            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;

                li {
                    padding: 15px 30px;
                    cursor: pointer;
                }

                .active-tab-indicator {
                    background-color: $dark-yellow;
                    color: $white;
                }
            }
        }

        .settings-body {
            padding: 30px;
            background-color: $white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .settings-content {

                .general-settings-language-options-container{
                    display: flex;
                    justify-content: end;
                    margin-bottom: 30px;

                    .general-settings-language-options {
                        width: 100px;
                    }
                }

                .settings-element {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    label {
                        margin-right: 50px;
                        font-weight: 700;
                    }

                    input {
                        padding: 10px 25px;
                        background-color: $les-dark-blue;
                        border-radius: 20px;
                        border: none;
                        width: 50%;
                    }

                    textarea {
                        padding: 10px 25px;
                        background-color: $les-dark-blue;
                        border-radius: 20px;
                        border: none;
                        width: 50%;
                        resize: none;
                        max-height: 200px;
                        overflow-y: auto;
                    }

                    .settings-element-edit-container {
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;
                        align-items: center;
                        width: 50%;

                        .terms-and-conditions-switch-container {
                            svg {
                                font-size: 30px;
                            }

                            .fa-toggle-on {
                                color: #4ec50c;
                            }
                        }

                        .settings-quill-container {
                            width: 90%;
                        }
                    }

                    .settings-quill-container {
                        width: 50%;
                    }

                }

                .settings-button {
                    background-color: $dark-yellow;
                    color: white;
                    padding: 10px 30px;
                    border: double;
                    border-radius: 30px;
                    cursor: pointer;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media screen and ( max-width: 680px){
    .settings-body {
        padding: 20px 10px !important;

        .settings-element {
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            label {
                margin-right: 0 !important;
            }

            input, textarea, .settings-quill-container, .settings-element-edit-container {
                width: 100% !important;
            }
        }
    }

}
