.hb-flex { display: flex; }

.hb-justify-content-center { justify-content: center; }
.hb-justify-content-start { justify-content: start; }
.hb-justify-content-end { justify-content: end; }
.hb-justify-content-between { justify-content: space-between; }
.hb-justify-content-around { justify-content: space-around; }
.hb-flex-wrap   { flex-wrap: wrap; }

.hb-align-items-center { align-items: center; }
.hb-align-items-start { align-items: start; }
.hb-align-items-end { align-items: end; }

//Laptop
@media screen and ( max-width: 1140px){
    .hb-flex-laptop { display: flex; }

    .hb-justify-content-center-laptop { justify-content: center; }
    .hb-justify-content-start-laptop { justify-content: start; }
    .hb-justify-content-end-laptop { justify-content: end; }
    .hb-justify-content-between-laptop { justify-content: space-between; }
    .hb-justify-content-around-laptop { justify-content: space-around; }
    .hb-flex-wrap-laptop   { flex-wrap: wrap; }

    .hb-align-items-center-laptop { align-items: center; }
    .hb-align-items-start-laptop { align-items: start; }
    .hb-align-items-end-laptop { align-items: end; }
}

//Ipad
@media screen and ( max-width: 900px){
    .hb-flex-ipad { display: flex; }

    .hb-justify-content-center-ipad { justify-content: center !important; }
    .hb-justify-content-start-ipad { justify-content: start; }
    .hb-justify-content-end-ipad { justify-content: end; }
    .hb-justify-content-between-ipad { justify-content: space-between; }
    .hb-justify-content-around-ipad { justify-content: space-around; }
    .hb-flex-wrap-ipad   { flex-wrap: wrap; }

    .hb-align-items-center-ipad { align-items: center; }
    .hb-align-items-start-ipad { align-items: start; }
    .hb-align-items-end-ipad { align-items: end; }
}

//tablet
@media screen and (max-width: 680px) {
    .hb-flex-tablet { display: flex; }

    .hb-justify-content-center-tablet { justify-content: center !important; }
    .hb-justify-content-start-tablet { justify-content: start; }
    .hb-justify-content-end-tablet { justify-content: end; }
    .hb-justify-content-between-tablet { justify-content: space-between; }
    .hb-justify-content-around-tablet { justify-content: space-around; }
    .hb-flex-wrap-tablet   { flex-wrap: wrap; }

    .hb-align-items-center-tablet { align-items: center; }
    .hb-align-items-start-tablet { align-items: start; }
    .hb-align-items-end-tablet { align-items: end; }
}
