.login-page-container {
    height: 100vh;

    .login-inputs-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .login-inputs {
            width: 25%;
            background-color: #373737;
            padding: 40px;
            border-radius: 30px;

            h2  {
                margin-bottom: 20px;
                text-align: center;
                color: white;
            }

            .login-logo-container {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                .login-logo {
                    width: 100px;
                }
            }

            .login-input {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 20px;

                label {
                    margin-bottom: 15px;
                    color: white;
                }

                input {
                    padding: 10px 20px;
                    border: none;
                    background: transparent;
                    color: white;

                    &:focus-visible {
                        outline: none;
                    }
                }

                input::placeholder {
                    color: wheat;
                }

                .input-delimiter {
                    height: 3px;
                    width: 0;
                    background-color: $dark-yellow;
                    transform: translateX(-50%);
                    left: 50%;
                    position: absolute;
                    bottom: 0;
                    transition: width .5s ease-in-out;
                }

                input:focus + .input-delimiter {
                    width: 100%;
                    transition: width .5s ease-in-out;
                }
            }

            .login-btn {
                padding: 5px 50px;
                font-size: 18px;
                border-radius: 20px;
                background-color: $dark-yellow;
                color: white;
                border: double;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .login-inputs {
        width: 40% !important;
    }
}


@media screen and (max-width: 600px){
    .login-inputs {
        width: 60% !important;
    }
}

@media screen and (max-width: 400px){
    .login-inputs {
        width: 70% !important;
    }
}
