.modal-content {


    .modal-header {
        padding: 30px;

        h4 {
            margin-bottom: 0;
            font-weight: 700;
        }

        .modal-language-dropdown {
            background-color: transparent;
            border: none;
            margin-right: 20px;
            color: $darker-yellow;
            font-size: 18px;
            width: 70px;
        }

        button {
            border: none;
            background-color: transparent;
            color: $darker-yellow;
            font-size: 20px;
            font-weight: 800;
        }
    }

    .modal-body {
        padding: 0;
        
        .overflow-modal {
            overflow-y: auto;
            max-height: 350px;
        }

        .element-remove-btn {
            display: flex;
            justify-content: flex-end;

            svg {
                cursor: pointer;
                font-weight: 700;
                position: absolute;
                color: $dark-yellow;
                right: 0;
                top: 0;
            }
        }

        .modal-inputs-container {
            padding: 30px;

            .input-elements {
                justify-content: space-between;
            }

            .input-elements-display {
                justify-content: center;
                gap: 20px;

                div {
                    width: 50%;

                    &:first-of-type {
                        text-align: end;
                    }
                }
            }
            .input-elements, .input-elements-display {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .input-name {
                    font-size: 16px;
                    font-weight: 700;
                }

                .image-action-btn {
                    cursor: pointer;

                    svg {
                        font-size: 24px;
                        color: $dark-yellow;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                input {
                    padding: 5px 15px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid $lighter-grey;

                    &:focus-visible  {
                        outline: none;
                        border-bottom: 2px solid $dark-yellow;
                    }
                }

                textarea {
                    width: 48%;
                    resize: none;
                    padding: 5px 15px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid $lighter-grey;

                    &:focus-visible  {
                        outline: none;
                        border-bottom: 2px solid $dark-yellow;
                    }
                }
            }
        }
    }

    .modal-footer {
        padding: 30px;
        justify-content: space-between;

        .modal-btn {
            padding: 5px 40px;
            border: double;
            color: white;
            border-radius: 20px;
        }

        .btn-grey {
            background-color: $light-grey;
        }

        .btn-action {
            background-color: $dark-yellow;
        }
    }
}
