.multiselect-dropdown-container {
    width: 50%;
    position: relative;

    button {
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
        border-bottom: 2px solid #C19B77;
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
            color: #C19B77;
        }
    }

    .open {
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #edeceb;
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        li {
            padding: 5px 20px;
            cursor: pointer;
            transition: background-color .5s ease-in-out;

            &:hover {
                background-color: #d5d5d5;
                transition: background-color .5s ease-in-out;
            }

        }

        hr {
            margin: 0;
        }

    }
}
