.hide-on-big-screen {
    display: none !important;
}

.header-mobile-menu-icon {
    display: none;
}

.show-on-ipad {
    display: none;
}

.lg-screen-width-80 {
    width: 80vw !important;
}

@media screen and (max-width: 1180px) {
    .hide-on-laptop {
        display: none !important;
    }

    .message-container {
        .messages-lists {
            width: 40% !important;
        }

        .message-content {
            width: 60% !important;
        }
    }
}


@media screen and (max-width: 900px) {
    .hide-on-ipad {
        display: none !important;
    }

    .show-on-ipad {
        display: block;
    }

    .header-text-styling {
        bottom: -25px !important;

        h1 {
            font-size: 49px !important;
        }
    }

    .message-container {
        .open-messenger-tabs {
            width: 100% !important;
            display: block;
        }

        .close-messenger-tab {
            width: 0% !important;
            padding: 0 !important;
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .hide-on-large-tablet {
        display: none !important;
    }

    .header-mobile-menu-icon {
        display: block;
    }
}


@media screen and (max-width: 680px) {
    .hide-on-tablet {
        display: none !important;
    }

    .md-screen-width-90 {
        width: 90vw !important;
    }
}


@media screen and (max-width: 520px) {
    .hide-on-mobile {
        display: none !important;
    }

    .sm-full-screen-width {
        width: 100vw !important;
    }
}
