.slider-container {
    width: 100%;
    position: relative;
    height: 400px;

    .slider-image-container {
        position: relative;
        width: 100%;
        height: 400px;

        .slider-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .active-slider-image {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }
    }

    button {
        position: absolute;
        background: transparent;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 60px;
        z-index: 99;
    }

    button:first-of-type {
        left: 20px;
    }

    button:last-of-type {
        right: 20px;
    }
}

.carousel__slide {
    padding: 5px  !important;
}

.carousel__viewport {
    perspective: 2000px  !important;
}

.carousel__track {
    transform-style: preserve-3d  !important;
}

.carousel__slide--sliding {
    transition: 0.5s !important;
}

.carousel__slide {
    opacity: 0.9;
    transform: rotateY(-20deg) scale(0.9) !important;
}

.carousel__slide--active ~ .carousel__slide {
    transform: rotateY(20deg) scale(0.9) !important;
}

.carousel__slide--prev {
    opacity: 1 !important;
    transform: rotateY(-20deg) scale(0.85) !important;
}

.carousel__slide--next {
    opacity: 1 !important;
    transform: rotateY(20deg) scale(0.85) !important;
}

.carousel__slide--active {
    opacity: 1 !important;
    z-index: 99;
    transform: rotateY(0) scale(1) !important;
}
