.slider-container {
    width: 100%;
    position: relative;
    height: 400px;

    .slider-image-container {
        position: relative;
        width: 100%;
        height: 400px;

        .slider-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .active-slider-image {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }
    }

    button {
        position: absolute;
        background: transparent;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 60px;
        z-index: 99;
    }

    button:first-of-type {
        left: 20px;
    }

    button:last-of-type {
        right: 20px;
    }
}
